extends ../layouts/default.pug
include ../mixins/pagination.pug

block main
  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-danger.me-1(
                href=`/${pathAdmin}/account-admin/trash`
                )
                i.fa-solid.fa-trash.me-1
                | Thùng rác
              a.btn.btn-primary(
                href=`/${pathAdmin}/account-admin/create`
                )
                i.fa-solid.fa-plus.me-1
                | Tạo tài khoản
                // end col
            // end col
          // end row
        // end card-header
        .card-body.pt-0
          .row
            .col-lg-12
              include ../partials/form-search.pug
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  th STT
                  th Ảnh đại diện
                  th Họ tên
                  th Email
                  th Nhóm quyền
                  th Trạng thái
                  th.text-end Hành động
              tbody
                each item, index in allAccount
                  tr
                    td #{pagination.skip + index + 1}
                    td
                      img(
                        src=`${domainFileManager}${item.avatar}`
                        class="rounded thumb-lg me-1 d-inline"
                      )
                    td #{item.fullName}
                    td #{item.email}
                    td(style="max-width: 200px;")
                      each roleName in item.roleName
                        span(class="badge bg-dark me-1") #{roleName}
                    td
                      if (item.status == "active")
                        span(class="badge bg-success") Hoạt động
                      else if (item.status == "inactive")
                        span(class="badge bg-danger") Tạm dừng
                      else if (item.status == "initial")
                        span(class="badge bg-warning") Khởi tạo
                    td.text-end
                      a(
                        href=`/${pathAdmin}/account-admin/edit/${item.id}` 
                        style="margin: 5px" 
                        title="Chỉnh sửa"
                      )
                        <i class="fa-solid fa-pen-to-square text-secondary" style="font-size: 1.2rem;"></i>
                      a(
                        href="javascript:;" 
                        button-api 
                        data-method="PATCH"
                        data-api=`/${pathAdmin}/account-admin/delete/${item.id}`
                        style="margin: 5px"
                        title="Xoá"
                      )
                        <i class="fa-solid fa-trash text-secondary" style="font-size: 1.2rem;"></i>
          +pagination(pagination, page)
    // end col
