extends ../layouts/default.pug
include ../mixins/pagination.pug

block main 
  ul.list-group.list-group-horizontal-md.mb-3(breadcrumb-folder)
    //- li.list-group-item.bg-dark
    //-   a(href="#")
    //-     i.la.la-angle-double-right.text-info.me-2
    //-     | Media
    //- li.list-group-item.bg-dark
    //-   a(href="#")
    //-     i.la.la-angle-double-right.text-info.me-2
    //-     | Folder 1
    //- li.list-group-item.bg-dark
    //-   a(href="#")
    //-     i.la.la-angle-double-right.text-info.me-2
    //-     | Folder 1 - 1


  // Danh sách Folder
  .card
    .card-header
      .row.align-items-center.g-2
        .col-lg-12
          h4.card-title Danh sách folder
        .col-lg-4
          form(form-create-folder)
            .input-group
              input(
                class="form-control"
                placeholder="Tên folder" 
                type="text"
                name="folderName"
              )
              button.btn.btn-secondary Tạo folder
        // end col
      // end row
    // end card-header
    .card-body.pt-0
      .table-responsive
        table.table.table-striped.mb-0
          thead.table-light
            tr
              th Tên
              th Ngày tạo
              th.text-end Hành động
          tbody
            if(listFolder.length > 0)
              each folder in listFolder
                tr
                  td
                    a(
                      href="javascript:;"
                      button-to-folder
                      data-folder-path=folder.name
                    ) 
                      .d-inline-flex.justify-content-center.align-items-center.thumb-md.bg-secondary-subtle.rounded.mx-auto.me-1
                        i.fa-solid.fa-folder.fs-18.align-self-center.mb-0.text-secondary
                      span #{folder.name}
                  td #{folder.createdAtFormat}
                  td.text-end
                    a(
                      href="javascript:;"
                    )
                      i.las.la-trash-alt.text-secondary.fs-18.ms-1
            else 
              tr
                td(colspan="4")
                  div.text-center Không có dữ liệu
              
    // end card-body


  // Danh sách File
  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title Danh sách file
        // end col
      // end row
    // end card-header
    .card-body.pt-0
      .table-responsive
        table.table.table-striped.mb-0
          thead.table-light
            tr
              th Tên
              th Ngày tạo
              th Kích thước
              th.text-end Hành động
          tbody
            if(listFile.length > 0)
              each file in listFile
                tr
                  td
                    if(file.mimetype.includes("image"))
                      img(
                        src=`${domainFileManager}${file.folder}/${file.filename}`
                        class="rounded thumb-md me-1 d-inline"
                      )
                    else if(file.mimetype.includes("video"))
                      .d-inline-flex.justify-content-center.align-items-center.thumb-md.bg-blue-subtle.rounded.mx-auto.me-1
                        i.fa-solid.fa-video.fs-18.align-self-center.mb-0.text-blue
                    else if(file.mimetype.includes("audio"))
                      .d-inline-flex.justify-content-center.align-items-center.thumb-md.bg-blue-subtle.rounded.mx-auto.me-1
                        i.fa-solid.fa-headphones.fs-18.align-self-center.mb-0.text-blue 
                    else if(file.mimetype.includes("pdf"))
                      .d-inline-flex.justify-content-center.align-items-center.thumb-md.bg-blue-subtle.rounded.mx-auto.me-1
                        i.fa-solid.fa-file-pdf.fs-18.align-self-center.mb-0.text-blue
                    span #{file.filename}
                  td #{file.createdAtFormat}
                  td #{file.sizeFormat}
                  td.text-end
                    a(
                      href="javascript:;"
                      button-copy 
                      content-copy=`${file.folder}/${file.filename}`
                    )
                      i.las.la-copy.text-secondary.fs-3.ms-1
                    a(
                      href="javascript:;"
                      button-preview-file 
                      data-file=`${domainFileManager}${file.folder}/${file.filename}`
                      data-mimetype=`${file.mimetype}`
                      data-bs-toggle="modal" 
                      data-bs-target="#previewFileModal"
                    )
                      i.las.la-eye.text-secondary.fs-3.ms-1
                    a(
                      href="javascript:;"
                      button-change-file-name 
                      data-file-name=file.filename
                      data-file-id=file.id
                      data-bs-toggle="modal" 
                      data-bs-target="#modalChangeFileName"
                    )
                      i.las.la-pen.text-secondary.fs-3.ms-1
                    a(href=`${domainFileManager}${file.folder}/${file.filename}?type=download`)
                      i.las.la-download.text-secondary.fs-3.ms-1
                    a(
                      href="javascript:;"
                      button-delete-file
                      data-file-id=file.id 
                      data-file-name=file.filename
                    )
                      i.las.la-trash-alt.text-secondary.fs-3.ms-1

            else 
              tr
                td(colspan="4")
                  div.text-center Không có dữ liệu
      +pagination(pagination, page)


  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title Upload file
        // end col
      // end row
    // end card-header
    .card-body.pt-0
      div(id="uppy-upload")
    // end card-body

  // Modal preview file
  #previewFileModal.modal.fade.modal-xl(
    aria-hidden="true" 
    aria-labelledby="previewFileModal" 
    tabindex="-1"
    )
    .modal-dialog
      .modal-content
        .modal-header
          h1#exampleModalLabel.modal-title.fs-5 Modal title
          button.btn-close(
            aria-label="Close" 
            data-bs-dismiss="modal" 
            type="button"
            )
        .modal-body 
          .inner-preview
  // End Modal preview file
  #modalChangeFileName.modal.fade.modal-xl(
    aria-hidden="true" 
    aria-labelledby="modalChangeFileName" 
    tabindex="-1"
    )
    .modal-dialog
      .modal-content
        .modal-header
          h1#exampleModalLabel.modal-title.fs-5 Đổi tên File
          button.btn-close(
            aria-label="Close" 
            data-bs-dismiss="modal" 
            type="button"
            )
        .modal-body 
          form(action="")
            .mb-3.d-none
              label(class="form-label") Id
              input(type="text" class="form-control" name="fileId")
            .mb-3
              label(class="form-label") Tên file
              input(type="text" class="form-control" name="fileName")
            button.btn.btn-primary(type="submit") Cập nhật
